@import url("https://fontes.googlesapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}   

body {
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../IMGS/backgroud.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.wrapper a{
    text-align: center;
    color: white;
}

.voltar {
  display: block;
  text-align: center;
  color: white;
  margin-top: 10px;
  text-decoration: none; /* se quiser tirar o sublinhado */
}

.voltar:hover {
  color: lightsalmon; /* efeito hover igual ao botão */
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 350px);
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 70px;
}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #F44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

button {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 30px;
      background: #fff;
      color: #333;
      font-size: 16px;
      cursor: pointer;
      margin-top: 15px;
      transition: 0.3s;
    }

button:hover{
  background:lightsalmon;
  color: white;
}

.wrapper {
  width: 600px;
  max-height: 80vh;
  background: rgba(255, 255, 255, 0.103); /* branco translúcido, pouca opacidade */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); /* Safari */
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  text-align: left;
  color: #FFF;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: white;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

h1{
    text-align: center;
    color: white;
}

